<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= task.note %>
  </p>

  <p>
    <strong>Due by date:</strong>
    <%= task.due_by_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
